
#mapcanvas {
  width: 300px;
  margin: 10px auto;
  flex-basis: 55%;
  background-color: #EEEEEE;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #454545;
}

.container div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  display: flex;
}

.header {
  background-color: #EEEEEE;
  margin-bottom: 30px;
}
